#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
// #include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#define ZMK_POINTING_DEFAULT_SCRL_VAL 150
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        scrl_down: scrl_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&msc SCRL_DOWN>;
        };
        scrl_up: scrl_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&msc SCRL_UP>;
        };
        scroll_encoder: scroll_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&scrl_up>, <&scrl_down>;
        };
    };
  keymap {
    compatible = "zmk,keymap";
    
    default_layer {
    sensor-bindings = <&scroll_encoder>;
      bindings = <
        // 左手35キー
        &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp RET
        &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp DOWN
        &kp LCTRL &kp A     &kp S     &kp D     &kp F     &kp G     &kp LEFT
        &kp LSHFT &kp Z     &kp X     &kp C     &kp V     &kp B     &kp RIGHT
        &mo 1     &kp LGUI  &kp LALT  &kp SPACE &kp DEL   &kp N6    &kp UP
        
        // 右手35キー
        &kp G     &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp EQUAL
        &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT  &kp RBKT
        &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp APOS  &kp RET
        &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT
        &mkp LCLK &mkp MCLK &mkp RCLK &kp SPACE &kp BSLH  &kp PSCRN &kp BSPC
      >;
    };
    
    function_layer {
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
      bindings = <
        // 左手35キー
        &kp TILDE &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &trans
        &bt BT_CLR    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &trans
        &trans    &trans    &trans    &trans    &trans    &trans    &trans
        &trans    &trans    &trans    &trans    &trans    &trans    &trans
        &trans    &trans    &trans    &trans    &trans    &kp F6    &trans
        
        // 右手35キー
        &trans    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12
        &trans    &trans    &trans    &trans    &trans    &trans    &trans
        &trans    &trans    &trans    &trans    &trans    &trans    &trans
        &trans    &trans    &trans    &trans    &trans    &trans    &trans
        &trans    &trans    &trans    &trans    &trans    &trans    &trans
      >;
    };
    combos {
        compatible = "zmk,combos";

        combo_right_boot {
            timeout-ms = <50>;
            key-positions = <41 68>;
            bindings = <&bootloader>;
        };
    };
  };
};
